@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blackColor: #000;
    --secondColor: #262525;
    --thirdColor: #484646;
    --fourthColor: #f3f2f2;
    --fifthColor: #eb174b;
    --mainFont: 'Montserrat';
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    background-color: var(--fifthColor);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blackColor);
    width: 6px;
    border-radius: 10px;
}

.title {
    color: var(--blackColor);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.subtitle {
    text-align: center;
    margin: 1rem 0;
}

.line {
    width: 5rem;
    height: 2px;
    margin: 0 auto 1.5rem;
    background-color: var(--fifthColor);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: unset;
    width: 2rem;
    height: 2rem;
    display: flex;
}

.carousel-arrow-left,
.carousel-arrow-right {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* HEADER */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-link:hover {
    color: var(--fifthColor);
}

.header-carousel {
    padding-top: 56px;
}

.carousel-header-img {
    background-size: cover;
    min-height: 80vh;
}

.carousel-header-img1 {
    background-image: url('../img/header/header1phone.png');
}

.carousel-header-img2 {
    background-image: url('../img/header/header2phone.png');
}

.carousel-header-img3 {
    background-image: url('../img/header/header3phone.png');
}

.carousel-header-img4 {
    background-image: url('../img/header/header4phone.png');
}

.header-carousel .carousel-text {
    top: 2rem;
    background-color: #eb174c9a;
    padding: 2rem;
}
/* END OF HEADER */

/* US */
.us {
    position: relative;
    height: 100%;
}

.us-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: -10;
}

.us-images img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.us-text {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--fourthColor);
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.us-title {
    color: var(--fourthColor);
}

.us-text p {
    margin: 1rem 0;
    line-height: 1.8rem;
}
/* END OF US */

/* SERVICES */
.services {
    padding: 2rem;
}

.services-img-container {
    margin: 2rem 0 1rem;
    display: flex;
    justify-content: center;
}

.services-text {
    text-align: center;
    line-height: 30px;
}
/* END OF SERVICES */

/* BRANDS */
.brands {
    padding: 2rem 0;
}

.brands-img-container {
    margin: 2.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
}

.brands-text {
    text-align: center;
    line-height: 24px;
    padding: 0 2rem;
}
/* END OF BRANDS */

/* PRODUCTS */
.carousel-products {
    padding-top: 2rem;
}

.card {
    padding: 1rem;
    border: none;
    border-radius: unset;
}

#productos-carousel2 .carousel-item .card {
    max-width: 500px;
    height: 600px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

#productos-carousel2 .card-img-container {
    padding: 1rem;
    width: 100%;
}

#productos-carousel2 .card-img-container img {
    width: 100%;
}

#productos-carousel2 .card-title,
.card-text {
    text-align: center;
}

#productos-carousel2 .card-text {
    font-size: clamp(0.8rem, 1rem, 1.5rem);
    flex-shrink: 2;
}

/* END OF PRODUCTS */

/* ALIANZAS */
.alianzas {
    padding: 2rem;
}

.alianzas-container {
    display: flex;
    flex-wrap: wrap;
}

.alianzas-container article {
    padding: 1rem;
}

.alianzas-container article div {
    max-width: 10rem;
    max-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.alianzas-container article div img {
    width: 100%;
    object-fit: contain;
}
/* END OF ALIANZAS */

/* REFERENCIAS */
.referencias {
    padding: 2rem;
}

.referencia-container {
    margin: 1rem 0.5rem;
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.referencia-container div {
    text-align: center;
    margin: 0.5rem 0;
}

.referencia-container p {
    text-align: center;
    font-style: italic;
}

.referencia-container h5 {
    text-align: center;
    font-weight: 700;
}

.referencia-container .line {
    margin: 1.5rem auto;
}

.ref-brand img {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid;
    border-radius: 50%;
    object-fit: contain;
}
/* END OF REFERENCIAS */

/* CONTACTANOS */
.contactanos {
    padding: 2rem;
    background-color: var(--fourthColor);
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: #fff;
}

.contactanos form div textarea {
    resize: none;
}

.contactanos form div:last-child {
    text-align: center;
}

input[type='submit'] {
    background-color: var(--blackColor);
    color: var(--fourthColor);
    border-radius: 20px;
    padding: 0.2rem 2rem;
}
/* END OF CONTACTANOS */

/* NUESTRAS VENTAJAS */
.nuestras-ventajas {
    background-color: var(--secondColor);
    padding: 2rem;
    color: var(--fourthColor);
}

.nuestras-ventajas div:nth-child(3) {
    text-align: center;
}

.nuestras-ventajas div:nth-child(3) p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuestras-ventajas div:nth-child(3) p span {
    color: var(--fifthColor);
    margin-right: 0.5rem;
}
/* END OF NUESTRAS VENTAJAS */

/* FOOTER */
.footer {
    background-color: var(--blackColor);
    padding: 2rem;
}

.footer div {
    text-align: center;
    margin: 1rem 0;
}

.footer div span {
    color: var(--fourthColor);
}

.footer div img {
    margin-right: 0.5rem;
}
/* END OF FOOTER */

@media screen and (min-width: 768px) {
    .carousel-header-img {
        background-position: 50%;
    }
    .carousel-header-img1 {
        background-image: url('../img/header/header1.png');
    }

    .carousel-header-img2 {
        background-image: url('../img/header/header2.png');
    }

    .carousel-header-img3 {
        background-image: url('../img/header/header3.png');
    }

    .carousel-header-img4 {
        background-image: url('../img/header/header4.png');
    }
    .header-carousel .carousel-text {
        top: 0;
        left: 10rem;
        width: 30rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel-indicators [data-bs-target] {
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        background-clip: unset;
    }
    .carousel-indicators [data-bs-target]:focus {
        background-color: #fff;
    }
    .us-images {
        width: 100%;
        flex-wrap: unset;
        z-index: -10;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .us-images img {
        max-height: unset;
        object-fit: unset;
    }
    .us-text p {
        max-width: 900px;
        margin: 0 auto;
    }
    .us-text p:nth-child(3) {
        margin-bottom: 2rem;
    }
    .alianzas-container article div {
        width: 10rem;
        height: 10rem;
    }
}
