@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blackColor: #000;
    --secondColor: #262525;
    --thirdColor: #484646;
    --fourthColor: #f3f2f2;
    --fifthColor: #eb174b;
    --mainFont: 'Montserrat';
}

body {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    background-color: var(--fifthColor);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blackColor);
    width: 6px;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}

.title {
    color: var(--blackColor);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.subtitle {
    text-align: center;
    margin: 1rem 0;
}

.line {
    width: 5rem;
    height: 2px;
    margin: 0 auto 1.5rem;
    background-color: var(--fifthColor);
}

/* HEADER */
.navbar-collapse {
    flex-grow: unset;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-link:hover {
    color: var(--fifthColor);
}

.carousel-header {
    margin-top: 56px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: unset;
    width: unset;
    height: unset;
    display: flex;
}

.bi-chevron-right,
.bi-chevron-left {
    font-size: 3rem;
}

.carousel-img-header {
    background-size: cover;
    min-height: 80vh;
}

.carousel-img-header1 {
    background-image: url('../img/header/header1phone.png');
}

.carousel-img-header2 {
    background-image: url('../img/header/header2phone.png');
}

.carousel-img-header3 {
    background-image: url('../img/header/header3phone.png');
}

.carousel-img-header4 {
    background-image: url('../img/header/header4phone.png');
}

.carousel-header .carousel-text {
    width: 100%;
    top: 2rem;
    background-color: #eb174c9a;
    padding: 2rem;
}
/* END OF HEADER */

/* US */
.us {
    position: relative;
    height: 100%;
}

.us-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: -10;
}

.us-images img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.text-us {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--fourthColor);
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-us {
    color: var(--fourthColor);
}

.text-us p {
    margin: 1rem 0;
    line-height: 1.8rem;
}
/* END OF US */

/* SERVICES */
.services {
    padding: 2rem;
}

.services-img-container {
    margin: 2rem 0 1rem;
    display: flex;
    justify-content: center;
}

.services-text {
    text-align: center;
    line-height: 30px;
}
/* END OF SERVICES */

/* BRANDS */
.brands {
    padding: 2rem 0;
}

.brands-img-container {
    margin: 2.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
}

.brands-text {
    text-align: center;
    line-height: 24px;
    padding: 0 2rem;
}
/* END OF BRANDS */

/* PRODUCTS */
.carousel-products {
    padding-top: 2rem;
}

.carousel-products .carousel-inner {
    padding: 2rem;
}

.carousel-products .carousel-item {
    padding: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.carousel-products .carousel-item p,
h2 {
    text-align: center;
}
/* END OF PRODUCTS */

/* ALIANZAS */
.alianzas {
    padding: 2rem;
}

.alianzas article {
    margin: 2rem 0;
}

.alianzas article div {
    display: flex;
    justify-content: center;
}

.alianzas article div img {
    max-width: 10rem;
    max-height: 5rem;
}

.alianzas article p {
    text-align: center;
}
/* END OF ALIANZAS */

/* REFERENCIAS */
.referencias {
    padding: 2rem;
}

.referencia-container {
    margin: 1rem 0;
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.referencia-container div {
    text-align: center;
    margin: 0.5rem 0;
}

.referencia-container p {
    text-align: center;
    font-style: italic;
}

.referencia-container h5 {
    text-align: center;
    font-weight: 700;
}

.referencia-container .line {
    margin: 1.5rem auto;
}

.ref-brand img {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid;
    border-radius: 50%;
    object-fit: contain;
}
/* END OF REFERENCIAS */

/* CONTACTANOS */
.contactanos {
    padding: 2rem;
    background-color: var(--fourthColor);
}

.contactanos form div {
    margin: 0.5rem 0;
}

.contactanos form div input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: #fff;
}

.contactanos form div textarea {
    resize: none;
}

.contactanos form div:last-child {
    text-align: center;
}

input[type='submit'] {
    background-color: var(--blackColor);
    color: var(--fourthColor);
    border-radius: 20px;
    padding: 0.2rem 2rem;
}
/* END OF CONTACTANOS */

/* NUESTRAS VENTAJAS */
.nuestras-ventajas {
    background-color: var(--secondColor);
    padding: 2rem;
    color: var(--fourthColor);
}

.nuestras-ventajas div:nth-child(3) {
    text-align: center;
}

.nuestras-ventajas div:nth-child(3) p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuestras-ventajas div:nth-child(3) p span {
    color: var(--fifthColor);
    margin-right: 0.5rem;
}
/* END OF NUESTRAS VENTAJAS */

/* FOOTER */
.footer {
    background-color: var(--blackColor);
    padding: 2rem;
}

.footer div {
    text-align: center;
    margin: 1rem 0;
}

.footer div span {
    color: var(--fourthColor);
}

.footer div img {
    margin-right: 0.5rem;
}
/* END OF FOOTER */

@media screen and (min-width: 768px) {
    .carousel-img-header {
        background-position: 50%;
    }
    .carousel-img-header1 {
        background-image: url('../img/header/header1.png');
    }

    .carousel-img-header2 {
        background-image: url('../img/header/header2.png');
    }

    .carousel-img-header3 {
        background-image: url('../img/header/header3.png');
    }

    .carousel-img-header4 {
        background-image: url('../img/header/header4.png');
    }
    .carousel-header .carousel-text {
        top: 0;
        left: 10rem;
        width: 30rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
